<h1>Eat-Da-Burger</h1>

<h2>Devour an existing Burger or Add your own Burger!</h2>

<ul>
{{#each burgers}}
<p>ID:{{this.id}}</p>
<p>Order: {{this.burger_name}}</p>
<p>Has it been devoured: {{this.devoured}} </p>
<hr>
{{/each}}
</ul>